## Abnahme Tests Report

### Abnahme Test 1

| **AK Nr.:** |     #1           |  
|:---------|---|
| **Titel:** | Bezahlte Transaktionen für alle |   
| **Testart:**| Manuell  |
| **Tester:** | Faustina Bruno  |
| **Datum:** | ?  |
| **Status** | ?  |
| **Vorbedingung:**          |  1. Metamask installiert 2. 2 Accounts in Metamask eingerichtet (1. Add: PK: 2. egal) 3.Blockchain ist aufgesetzt und läuft 4. DoS Algorithmus läuft und der Account ist zertifiziert/ in der Whitelist|      
| **Ablauf:**                | - MetaMask starten - Zum Account mit der Adresse "" wechseln - auf SENDEN dann ZWISCHEN MEINEN KONTAKTEN TRANSFERIEN - 2. Account wählen - In das betrag Feld 100 ETH eingeben und in das Transaktionsgebühr Feld 2 eingeben - WEITER und BESTÄTIGEN wählen - Warten bis Transaktion durchlaufen ist |          
| **Erwünschtes Resultat:**  |  Eine durchlaufene Transaktion |       
| **Tatsächliches Resultat** |   |         

### Abnahme Test 2

| **AK Nr.:** |     1           |  
|:---------|---|
| **Titel:** | Bezahlte Transaktionen für alle |   
| **Testart:**| Manuell  |
| **Tester:** | Faustina Bruno  |
| **Datum:** | ?  |
| **Status** | ?  |
| **Vorbedingung:**          |   |      
| **Ablauf:**                |   |          
| **Erwünschtes Resultat:**  |   |       
| **Tatsächliches Resultat** |   |    

### Abnahme Test 3

| **AK Nr.:** |     1           |  
|:---------|---|
| **Titel:** | Bezahlte Transaktionen für alle |   
| **Testart:**| Manuell  |
| **Tester:** | Faustina Bruno  |
| **Datum:** | ?  |
| **Status** | ?  |
| **Vorbedingung:**          |   |      
| **Ablauf:**                |   |          
| **Erwünschtes Resultat:**  |   |       
| **Tatsächliches Resultat** |   |    

### Abnahme Test 4

| **AK Nr.:** |     1           |  
|:---------|---|
| **Titel:** | Bezahlte Transaktionen für alle |   
| **Testart:**| Manuell  |
| **Tester:** | Faustina Bruno  |
| **Datum:** | ?  |
| **Status** | ?  |
| **Vorbedingung:**          |   |      
| **Ablauf:**                |   |          
| **Erwünschtes Resultat:**  |   |       
| **Tatsächliches Resultat** |   |    

### Abnahme Test 5
| **AK Nr.:** |     1           |  
|:---------|---|
| **Titel:** | Bezahlte Transaktionen für alle |   
| **Testart:**| Manuell  |
| **Tester:** | Faustina Bruno  |
| **Datum:** | ?  |
| **Status** | ?  |
| **Vorbedingung:**          |   |      
| **Ablauf:**                |   |          
| **Erwünschtes Resultat:**  |   |       
| **Tatsächliches Resultat** |   |    

### Abnahme Test 6

| **AK Nr.:** |     1           |  
|:---------|---|
| **Titel:** | Bezahlte Transaktionen für alle |   
| **Testart:**| Manuell  |
| **Tester:** | Faustina Bruno  |
| **Datum:** | ?  |
| **Status** | ?  |
| **Vorbedingung:**          |   |      
| **Ablauf:**                |   |          
| **Erwünschtes Resultat:**  |   |       
| **Tatsächliches Resultat** |   |    

### Abnahme Test 7

| **AK Nr.:** |     1           |  
|:---------|---|
| **Titel:** | Bezahlte Transaktionen für alle |   
| **Testart:**| Manuell  |
| **Tester:** | Faustina Bruno  |
| **Datum:** | ?  |
| **Status** | ?  |
| **Vorbedingung:**          |   |      
| **Ablauf:**                |   |          
| **Erwünschtes Resultat:**  |   |       
| **Tatsächliches Resultat** |   |    

### Abnahme Test 8

| **AK Nr.:** |     1           |  
|:---------|---|
| **Titel:** | Bezahlte Transaktionen für alle |   
| **Testart:**| Manuell  |
| **Tester:** | Faustina Bruno  |
| **Datum:** | ?  |
| **Status** | ?  |
| **Vorbedingung:**          |   |      
| **Ablauf:**                |   |          
| **Erwünschtes Resultat:**  |   |       
| **Tatsächliches Resultat** |   |    

### Abnahme Test 9

| **AK Nr.:** |     1           |  
|:---------|---|
| **Titel:** | Bezahlte Transaktionen für alle |   
| **Testart:**| Manuell  |
| **Tester:** | Faustina Bruno  |
| **Datum:** | ?  |
| **Status** | ?  |
| **Vorbedingung:**          |   |      
| **Ablauf:**                |   |          
| **Erwünschtes Resultat:**  |   |       
| **Tatsächliches Resultat** |   |    

