## Abnahme Tests Report

### Abnahme Test 1

| **AK Nr.:** |     #1           |  
|:---------|---|
| **Titel:** | Bezahlte Transaktionen für alle |   
| **Testart:**| Manuell  |
| **Tester:** | Faustina Bruno  |
| **Datum:** | ?  |
| **Status** | ?  |
| **Vorbedingung:**          |  1. Metamask installiert
2. Account in Metamask eingerichtet (Add: PK:)|      
| **Ablauf:**                |   |          
| **Erwünschtes Resultat:**  |   |       
| **Tatsächliches Resultat** |   |         

### Abnahme Test 2

| **AK Nr.:** |     1           |  
|:---------|---|
| **Titel:** | Bezahlte Transaktionen für alle |   
| **Testart:**| Manuell  |
| **Tester:** | Faustina Bruno  |
| **Datum:** | ?  |
| **Status** | ?  |
| **Vorbedingung:**          |   |      
| **Ablauf:**                |   |          
| **Erwünschtes Resultat:**  |   |       
| **Tatsächliches Resultat** |   |    

### Abnahme Test 3

| **AK Nr.:** |     1           |  
|:---------|---|
| **Titel:** | Bezahlte Transaktionen für alle |   
| **Testart:**| Manuell  |
| **Tester:** | Faustina Bruno  |
| **Datum:** | ?  |
| **Status** | ?  |
| **Vorbedingung:**          |   |      
| **Ablauf:**                |   |          
| **Erwünschtes Resultat:**  |   |       
| **Tatsächliches Resultat** |   |    

### Abnahme Test 4

| **AK Nr.:** |     1           |  
|:---------|---|
| **Titel:** | Bezahlte Transaktionen für alle |   
| **Testart:**| Manuell  |
| **Tester:** | Faustina Bruno  |
| **Datum:** | ?  |
| **Status** | ?  |
| **Vorbedingung:**          |   |      
| **Ablauf:**                |   |          
| **Erwünschtes Resultat:**  |   |       
| **Tatsächliches Resultat** |   |    

### Abnahme Test 5
| **AK Nr.:** |     1           |  
|:---------|---|
| **Titel:** | Bezahlte Transaktionen für alle |   
| **Testart:**| Manuell  |
| **Tester:** | Faustina Bruno  |
| **Datum:** | ?  |
| **Status** | ?  |
| **Vorbedingung:**          |   |      
| **Ablauf:**                |   |          
| **Erwünschtes Resultat:**  |   |       
| **Tatsächliches Resultat** |   |    

### Abnahme Test 6

| **AK Nr.:** |     1           |  
|:---------|---|
| **Titel:** | Bezahlte Transaktionen für alle |   
| **Testart:**| Manuell  |
| **Tester:** | Faustina Bruno  |
| **Datum:** | ?  |
| **Status** | ?  |
| **Vorbedingung:**          |   |      
| **Ablauf:**                |   |          
| **Erwünschtes Resultat:**  |   |       
| **Tatsächliches Resultat** |   |    

### Abnahme Test 7

| **AK Nr.:** |     1           |  
|:---------|---|
| **Titel:** | Bezahlte Transaktionen für alle |   
| **Testart:**| Manuell  |
| **Tester:** | Faustina Bruno  |
| **Datum:** | ?  |
| **Status** | ?  |
| **Vorbedingung:**          |   |      
| **Ablauf:**                |   |          
| **Erwünschtes Resultat:**  |   |       
| **Tatsächliches Resultat** |   |    

### Abnahme Test 8

| **AK Nr.:** |     1           |  
|:---------|---|
| **Titel:** | Bezahlte Transaktionen für alle |   
| **Testart:**| Manuell  |
| **Tester:** | Faustina Bruno  |
| **Datum:** | ?  |
| **Status** | ?  |
| **Vorbedingung:**          |   |      
| **Ablauf:**                |   |          
| **Erwünschtes Resultat:**  |   |       
| **Tatsächliches Resultat** |   |    

### Abnahme Test 9

| **AK Nr.:** |     1           |  
|:---------|---|
| **Titel:** | Bezahlte Transaktionen für alle |   
| **Testart:**| Manuell  |
| **Tester:** | Faustina Bruno  |
| **Datum:** | ?  |
| **Status** | ?  |
| **Vorbedingung:**          |   |      
| **Ablauf:**                |   |          
| **Erwünschtes Resultat:**  |   |       
| **Tatsächliches Resultat** |   |    

